
*{
    margin: 0.1em;
}
body{
    background-color: #0d0e0d;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; 
}

h1 {
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input{
    display: block;
    font-size: 1.5em;
    border: none;
    margin: 0.5em;
}

.menu , .footer  {
    display: flex; 
    flex-direction: row;
    justify-content: space-around ;
    align-items: flex-end;
    padding: 10px;
    margin: 1em;
    list-style: none;
    background-color: #d36318;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-weight: bolder;
    font-size: 1.1em;
}

.encabezado{
    display: flex;
    flex-flow: row;
    justify-content: center ; 
    
}

button{
 background:  #7A871E;
 color: #d2d3c9;
 transition: 300ms all;
 width: 4rem;
 height: 3rem;
 border: 3px solid #104210;

}

button:hover{
    background: #104210;
    color: #d2d3c9;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    margin: 1em;
    background-image: linear-gradient(to bottom, #7A871E, #ec823a);
} 
input:focus , .form {
    border-width: 3px;
    border: 3px solid #104210;
  }


  .portada > img{
      display: inline;
      border-radius: 10%;   
      width: 140px;
      height: 200px;     
  } 

  .section-1{
      display: block;
      box-sizing: content-box;
      margin: 50px;
  }

  .Duneproceso , .colecciones {
      display: flex;
    width: 150px;
    height: 300px
  }

.container {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    position: relative; 
    border-radius: %;
}

.imagen{
    opacity: 1;
    transition: 300ms all;
    width: 25em;
    height: 35em; 
}

.container:hover .imagen {
    opacity: 0.3;
  }

  .poster  , p{
    display: flex;
    flex-direction: column;
    border-style: solid;
    color: cornsilk;
    
  }

  .posterCole1 {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 3600px;
    margin: 20%;
  }
  .posterCole2{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 3000px;
    margin: 20%; 
  }

  .posterCole3{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 2300px;
    margin: 20%; 
    
  }
  .posterCole4{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 3600px;
    margin: 20%; 
    
  }

  .posterCole5{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 1600px;
    margin: 20%; 
  }
  
  .articulos , .container{
      display: block; 
      text-align: center;
      color: whitesmoke;
      box-sizing: border-box;
      margin: 1em;
      padding: 1em;

      /* background-image: url("./Assests/ilustraciones/BN-2.png") ;
      background-repeat: no-repeat;
      opacity: 0.5;   opaca todo el elemento, siendo 0 opaco toal y 1 toda la imagen .*/

  }   
.footer{
    font-size: 15px;
    padding: 1px;
}
  


 .cajaArticulos{
display: flex;
flex-flow: column;
justify-content: space-around;
color: whitesmoke;
 box-sizing: border-box;
 margin: 1em;
 padding: 1em;

 }