body{
    background-color: #0d0e0d;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; 
    

}
.menu  {

    text-align-last: center;
    background-color: #d36318;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-weight: bolder;

}


button{
 background:  #7A871E;
 color: #d2d3c9;
 transition: 300ms all;
 width: 4rem;
 height: 3rem;
 border: 3px solid #104210;

}

button:hover{
    background: #104210;
    color: #d2d3c9;
}

.form{
    font-weight: bold;
    line-height: 200%;
    text-align: center;
    background-image: linear-gradient(to bottom, #7A871E, #ec823a);
   overflow: hidden;
} 
input:focus {
    border-width: 3px;
    border: 3px solid #104210;
  }


  .portada > img{
      border-radius: 10%;   
      width: 140px;
      height: 200px;     
  } 

  .Duneproceso , .colecciones {
      display: flex;
    width: 150px;
    height: 300px
  }

.container{
    position: relative;
    width: 50%;
}

.imagen{
    opacity: 1;
    transition: 300ms all;
    width: 25em;
    height: 35em; 
}

.container:hover .imagen {
    opacity: 0.3;
  }

  .poster{
    width: 50em;
    height: 100em;
  }

  .articulos{
      color: whitesmoke;
      background-image: url("Assests/ilustraciones/dune/dunebn.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  }