body{
    background-color: #0d0e0d;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; 
    

}
.menu  {
    display: flex;
    flex-flow: wrap; 
    padding: 1em;
    justify-content: space-around;
    background-color: #d36318;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-weight: bolder;
    font-size: 1.1em;

}


button{
 background:  #7A871E;
 color: #d2d3c9;
 transition: 300ms all;
 width: 4rem;
 height: 3rem;
 border: 3px solid #104210;

}

button:hover{
    background: #104210;
    color: #d2d3c9;
}

.form{
    display: inline-table;
    font-weight: bold;
    line-height: 200%;
    text-align: center;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, #7A871E, #ec823a);
} 
input:focus {
    border-width: 3px;
    border: 3px solid #104210;
  }


  .portada > img{
      display: inline;
      border-radius: 10%;   
      width: 140px;
      height: 200px;     
  } 

  .section-1{
      display: block;
      box-sizing: content-box;
      margin: 50px;
  }

  .Duneproceso , .colecciones {
      display: flex;
    width: 150px;
    height: 300px
  }

.container{
    position: relative;
    width: 50%;
}

.imagen{
    opacity: 1;
    transition: 300ms all;
    width: 25em;
    height: 35em; 
}

.container:hover .imagen {
    opacity: 0.3;
  }

  .poster{
    width: 50px;
    height: 50px;
  }

  .articulos {
      display: block; 
      text-align: center;
      color: whitesmoke;
      box-sizing: border-box;
      margin: 5px 5px; 
      padding: 10px;
      /* background-image: url("./Assests/ilustraciones/BN-2.png") ;
      background-repeat: no-repeat;
      opacity: 0.5;   opaca todo el elemento, siendo 0 opaco toal y 1 toda la imagen .*/

  }   

  .footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 1em;
    background-color: #d36318;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-weight: bolder;
  }


